@inherits UmbracoViewPage<AboutPage>
@{
    Layout = "Master.cshtml";
}

@await Html.PartialAsync("components/banner", Model)

@if (Model.Skills != null && Model.Skills.Any())
{
    <section class="skills">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="skills-title __animateleft">@(!string.IsNullOrWhiteSpace(Model.SkillsTitle) ? Model.SkillsTitle : "Skills")</h2>

                    @if (Model.Skills != null && Model.Skills.Any())
                    {
                        <div class="skills-wrap">
                            @foreach (SkillGroup skillGroup in Model.Skills)
                            {
                                <div class="skill">
                                    <h3 class="skill-title __animateleft">@skillGroup.Name</h3>

                                    @{
                                        IEnumerable<Skill> childSkills = skillGroup.Children?.OfType<Skill>()
                                        .Where(x => x.SkillIsVisible && x.SkillIcon != null) ?? Enumerable.Empty<Skill>();

                                        if (childSkills != null && childSkills.Any())
                                        {
                                            <div class="skill-icons __animateright">
                                                @foreach (Skill childSkill in childSkills)
                                                {
                                                    @if (childSkill.SkillIcon != null)
                                                    {

                                                        <div class="skill-image">
                                                            <img src="@childSkill.SkillIcon.Url()" alt="@childSkill.SkillTitle" title="@childSkill.SkillTitle" />
                                                            <p class="visually-hidden">@(!string.IsNullOrWhiteSpace(childSkill.SkillTitle) ? childSkill.SkillTitle : childSkill.Name)</p>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    }
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
}

@if (Model.EmploymentHistory != null && Model.EmploymentHistory.Any())
{
    <section class="employment">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="employment-title __animateleft">@(!string.IsNullOrWhiteSpace(Model.EmploymentTitle) ? Model.EmploymentTitle : "Employment History")</h2>

                    <div class="employment-wrap">
                        @foreach (Role role in Model.EmploymentHistory)
                        {
                            <div class="role __animateup">
                                <header class="role-header">
                                    <h3 class="role-title">
                                        @if (!string.IsNullOrWhiteSpace(role.CompanyLink))
                                        {
                                            @:<a href="@role.CompanyLink" target="_blank">
                                        }

                                        @(!string.IsNullOrWhiteSpace(role.CompanyName) ? role.CompanyName : role.Name)

                                        @if (!string.IsNullOrWhiteSpace(role.CompanyLink))
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" /><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" /></svg>
                                            @:</a>
                                        }
                                    </h3>

                                    @if (!string.IsNullOrWhiteSpace(role.RoleTitle))
                                    {
                                        string? endOfRole = null;

                                        @if (role.IsCurrentRole)
                                        {
                                            endOfRole = " - Present";
                                        }
                                        else if (role.RoleEndDate != default(DateTime))
                                        {
                                            endOfRole = " - " + role.RoleEndDate.ToString("MMM yyyy");
                                        }

                                        <p class="role-name">@role.RoleTitle (@role.RoleStartDate.ToString("MMM yyyy")@endOfRole)</p>
                                    }
                                </header>

                                @if (role.RoleDescription != null)
                                {
                                    <div class="role-content">
                                        @role.RoleDescription
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}