@inherits UmbracoViewPage<BlogPage>
@{
    Layout = "Master.cshtml";
}

<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (Model.Parent != null)
                {
                    <a href="@Model.Parent.Url()" class="button--back __animatedown">Back to blog</a>
                }
                <div class="blog-wrap">
                    @if (Model.BlogImage != null)
                    {
                        <div class="blog-image __animatedown">
                            <picture>
                                <source media="(min-width:992px)" srcset="@Model.BlogImage.GetCropUrl("BlogImage")" />
                                <source srcset="@Model.BlogImage.GetCropUrl("BlogImageMobile")" />
                                <img src="@Model.BlogImage.GetCropUrl("BlogImage")" />
                            </picture>
                        </div>
                    }

                    <main class="blog-content __animateleft">
                        <h1 class="blog-title">@(!string.IsNullOrWhiteSpace(Model.BlogTitle) ? Model.BlogTitle : Model.Name)</h1>
                        @if (!string.IsNullOrWhiteSpace(Model.BlogSubtitle))
                        {
                            <p class="blog-subtitle">@Model.BlogSubtitle</p>
                        }

                        @if (Model.Content != null)
                        {
                            <div class="richtext">
                                @Model.Content
                            </div>
                        }
                    </main>

                    @(await Html.PartialAsync("components/sidebar", Model))
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>