@inherits UmbracoViewPage<ISidebarProperties>
@using Umbraco.Cms.Core.Models.Blocks;

@{
    DateTime? createdDate = null;
    string? createdType = String.Empty;
    string? creator = String.Empty;
    string? pageType = String.Empty;
    IEnumerable<IPublishedContent>? relatedContent = null;
    BlockListModel? projectContributors = null;

    if (Model is IPublishedContent publishedContent)
    {
        createdDate = publishedContent.CreateDate;
    }

    if (Model is BlogPage blogPage)
    {
        createdType = "Written";
        creator = blogPage.BlogAuthor;
        relatedContent = blogPage.RelatedBlogs;
        pageType = "Blog";
    }

    if (Model is ProjectPage projectPage)
    {
        createdType = "Created";
        creator = projectPage.ProjectCreator;
        relatedContent = projectPage.RelatedProjects;
        pageType = "Project";
        projectContributors = projectPage.ProjectContributors;
    }
}

<aside class="sidebar __animateright">
    <h2 class="sidebar-title">@(!string.IsNullOrWhiteSpace(Model.SidebarTitle) ? Model.SidebarTitle : "Details")</h2>

    <ul class="sidebar-list">
        <li class="sidebar-item">
            <p>@createdType by</p>
            <p>@(!string.IsNullOrWhiteSpace(creator) ? creator : "Sam Forrest")</p>
        </li>

        @if (createdDate != null)
        {
            <li class="sidebar-item">
                <p>Created on</p>
                <time datetime="@createdDate">@createdDate?.ToString("dd MMMM yyyy")</time>
            </li>
        }
    </ul>

    @if (projectContributors != null && projectContributors.Any())
    {
        <h2 class="sidebar-title">Project Contributors</h2>

        <ul class="sidebar-list--contributors">
            @foreach (var contributor in projectContributors)
            {
                if (string.IsNullOrWhiteSpace(contributor.Content.Value<string>("contributorName")))
                {
                    continue;
                }

                <li>
                    @if (!string.IsNullOrWhiteSpace(contributor.Content.Value<string>("contributorUrl")))
                    {
                        <a href="@contributor.Content.Value("contributorUrl")" target="_blank">@contributor.Content.Value("contributorName")</a>
                    }
                    else
                    {
                        <p>@contributor.Content.Value("contributorName")</p>
                    }
                </li>
            }
        </ul>
    }

    @if (relatedContent != null && relatedContent.Any())
    {
        @if (!string.IsNullOrWhiteSpace(pageType))
        {
            <h2 class="sidebar-title">Related @(pageType)s</h2>
        }

        <ul class="sidebar-list">
            @foreach (var item in relatedContent)
            {
                <li>
                    <a href="@item.Url()">@item.Name</a>
                </li>
            }
        </ul>
    }
</aside>
